@font-face 
{
    font-family: newfont;
    src: url(Karla-Regular.ttf);
}

body 
{
    margin:0;
}

html 
{ 
    font-family: 'Karla', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px 80px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropbtn{
    font-size: 20px;
}

.dropdown .dropbtn {
  cursor: pointer;
  /*font-size: 20px; */ 
  border: none;
  outline: none;
  color: white;
  padding: 10px 80px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #9ebfc1;
    color:black;
    height: 100%;
    /*padding: 10px 80px;*/
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  float: none;
  color: white;
  width: 100%;
  /*padding: ;*/
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #9ebfc1;
    color:black;
}

.show {
  display: block;
}
.main {*/
}